*.aux
*.bak
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.eventlog
*.hi
*.hie
*.hp
*.lock
*.o
*.prof
*.swp
*~
.HTF/
.cabal-sandbox/
.ghc.environment.*
.hpc
.hsenv
.stack-work/
Attic
cabal-dev
cabal.project.local
cabal.project.local~
cabal.sandbox.config
dblookup
dist
dist-*
doc/dblookup.1
doc/mkdb.1
mkdb
stack.yaml
